* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    background-color: #181852ff;
}

body {
  background-color: #034ab5; /* Light gray */
}

.container {
    display: flex;
    min-height: 100vh;
}

main{
    width: 100%;
    padding: 20px;
}
