.card {
  border: 1px solid hsla(0, 0%, 80%, 0.631);
  border-radius: 10px;
  box-shadow: 5px 5px hsla(0, 0%, 0%, 0.127);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}